$primary: #2E1664;
$white: #fff;
$gray:  #D0B6DA;
$gray-dark:  #8F83AB;
$gray-primary: #D1D5DB;


$primary-bg: #332558;;
$btn-gradiend: linear-gradient(90deg, #273592 0%, #6639E3 100%);

$rounded: 16px; 